.navbar-brand {
  flex-grow: 1;
  justify-content: center;
}

.navbar-title {
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar-brand img {
  position: absolute;
  left: 1rem;
}

nav{
  margin-bottom: 2rem;
}

div.card
{
  margin-bottom: 1rem;
}
